@media (min-width: 768px) {

  .acf-fullname .form-group.prefix {
    display: inline-block;
  }

  .acf-fullname .form-group.first {
    display: inline-block;
  }

  .acf-fullname .form-group.last {
    display: inline-block;
  }

}
